# List

In [4]:
# list are mutable data structure, it means they can be changed. a list is created using [], seperated with comma, a list is a similar or different types of data.
language=['python','html','c#','java']
#     list index using list slicing
language2 = language[1:3]
language3 = language2[:]
language3[1]=['react']
language[:] = 'p','r','o','g','a','m'
language2

['html', 'c#']

In [73]:
language3

['html', ['react']]

In [5]:
language [:4]

['p', 'r', 'o', 'g']

In [75]:
#adding using list method
basket = ['socks','pen','tables','board']
basket.append('bicycle')
kids_stuffs = basket
kids_stuffs.insert(1,'skateboard')
kids_stuffs.remove('board')
adult_stuffs = kids_stuffs.copy()
adult_stuffs[1] = 'towel'
adult_stuffs.insert(3,'gadget')
adult_stuffs.extend(['mirror','extension'])
basket.remove('pen')
basket

['socks', 'skateboard', 'tables', 'bicycle']

In [76]:
kids_stuffs

['socks', 'skateboard', 'tables', 'bicycle']

In [71]:
adult_stuffs

['socks', 'towel', 'pen', 'gadget', 'tables', 'bicycle', 'mirror', 'extension']

In [ ]:
# extending two list
even_num = ['2','4','6']
prime_num = ['7','9','11']
even_num.extend(prime_num)
print(even_num)

In [69]:
# remove list
food_items = ['bread','milk','milo']
food_items.sort() # sort
items = len(food_items)
items

3

In [77]:
food_items

['bread', 'milk', 'milo']

In [68]:
gadget = [ 'phone','game_console','headset','pen drive']
gadget.reverse()
gadget.remove('headset')
gadget

['pen drive', 'game_console', 'phone']

TypeError: 'tuple' object does not support item assignment

In [78]:
# for loop
for x in 'language':
    print(x)

l
a
n
g
u
a
g
e

# Tuple

In [ ]:
# tuple are immutable,to print out a single element in a tuple u must end it with a comma :, 
#tuple can be used to store any of data types
#tuple has 2 method index and count
# tuple is denoted by ()
#it support slicing
my_tuples = (1,2,3,4,5,6)
my_tuples[3] = 55     
my_tuples  # it return TypeError cos tuple is immutable

In [28]:
list_number = [4,5,6,'England','Angola']
my_tuples = tuple(list_number)
my_tuples[4]

'Angola'

In [29]:
'England' in list_number

True

In [43]:
for x in my_tuples:
    print(x)

4
5
6
England
Angola

In [1]:
phones = 'iphone','samsung','lenovo'#packing tuples
type(phones)

tuple

In [54]:
a,b,c = phones
a,b,c

('iphone', 'samsung', 'lenovo')

In [31]:
a,b,c, *others = (1,2,3,4,5,6,7,8,22,3,234,56,43) # unpacking tuple using *astericks
a

1

In [12]:
b

2

In [14]:
others

[4, 5, 6, 7, 8, 22, 3, 234, 56, 43]

In [58]:
a = 33,'jojo','male' #pack values into variables
age,name,sex = a #unpacking values a into vaiables
a

(33, 'jojo', 'male')

In [59]:
name

'jojo'

In [49]:
november = (1,2,3,4,5,6,7,8,9,10,11,4,56,2,4,67)
novvy = len(november)
novvy += 5
novvy

21

In [21]:
november.count(2) # count is used to know how many times am item occured

2

In [22]:
november.index(2) # index is used to know , the first index of the same item

1

# Tuple Exercise

In [45]:
# reverse the tuple
tuple1 = (10,20,30,40,50)
tuple1[::-1]

(50, 40, 30, 20, 10)

In [46]:
# access value 20 from the tuple
tuple1 = ('orange',[10,20,30],(5,15,25))
tuple1[1][1]

20

In [49]:
# unpack tuple
tuple1 = (10,20,30,40)
a,b,x,s = tuple1
a

10

In [50]:
b

20

In [52]:
x

30

In [51]:
s

40

In [55]:
# swap two tuples in python
tuple1 =(11,22)
tuple2 =(99,88)
b,a= tuple1,tuple2
a

(99, 88)

In [56]:
b

(11, 22)

In [58]:
# copy specific elements from one tuple to a new tuple 44 and 55
tuple1 =(11,22,33,44,55,66)
tuple11 = tuple1[3:5]
tuple11

(44, 55)

In [60]:
# modify the tuple 22 to 222
tuple1 = (11,[22,33],44,55)
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

# Set

In [24]:
#  set is a collection of unordered 
# set is denoted {}
# set doesn't have duplicate
# set can not be sliced

In [31]:
your_set = {4,5,6,7,8,9,10}
your_set[4] # it return error COS u can't access set using slice

TypeError: 'set' object is not subscriptable

In [32]:
my_set = {1,2,2,3,4,4,5}
len(my_set) #set is a unique item

5

In [31]:
my_set

{1, 2, 3, 4, 5}

In [38]:
my_set.add(44)
my_set

{1, 2, 3, 4, 5, 44}

In [5]:
# update allows u to add more than two objects in a set
my_set = {10,50,70}
my_set.update([20,40,60])
my_set

{10, 20, 40, 50, 60, 70}

In [ ]:
# discard , remove , clear, del set
my_set.remove(40) # allows u to remove an item in your set
my_set

In [7]:
my_set.discard(80)# discard allows you to remove an item that are not present in the set without returning an error unlike remove that returns error if an element is not in the value in place
my_set

{10, 20, 50, 60, 70}

In [9]:
my_set.clear() # it clear all the set ,it output empty the set
my_set

set()

In [ ]:
#  to check if an item is in a variable , u will use in 
# data method for set
# .union() = |
# .difference = -
# .difference_update()
# .intersect() = & 
# .intersection_update , it will update the variable set u calling 
# .disjoint()
# .issuperset()
# .issubset()

In [87]:
list_set = {3,4,5,6,1,2,1,1,}
list_sets = {3,2,12,2,1,7,4,6}
list_sets

{1, 2, 3, 4, 6, 7, 12}

In [88]:
list_sets.add(8) 
list_sets.copy()
l_sets = list_sets
l_sets

{1, 2, 3, 4, 6, 7, 8, 12}

In [89]:
list_sets

{1, 2, 3, 4, 6, 7, 8, 12}

In [3]:
list_set = {}

In [35]:
#.difference ; it will return  the unique value on the set u are calling which is not in the other set  
# .differnce doesn't update the origninal set;one_set.intersection(two_set)
# it is denoted by - operator
one_set = {'blue','green','yellow','red'}
two_set = {'green','blue','white','black'}
one_set.difference(two_set) # or one_set-two_set  = output ='yellow' , ' red'

{'red', 'yellow'}

In [4]:
one_set  # orginal set  after.difference printing

{'blue', 'green', 'red', 'yellow'}

In [34]:
# difference_update will update the original set ;two_set.intersection_update(one_set)
# when u print out the value in difference_update(it changes the original value)
one_set = {'blue','green','yellow','red'}
two_set = {'green','blue','white','black'}
one_set.difference_update(two_set) 
one_set

{'red', 'yellow'}

In [19]:
# symmetric difference , it return the unique differences in both sets. it is the opposite of intersection
# it is denoted by ^ operator 
one_set = {'blue','green','yellow','red'}
two_set = {'green','blue','white','black'}
one_set.symmetric_difference(two_set) # one_set^(two_set)

{'black', 'red', 'white', 'yellow'}

In [15]:
one_set   # orginal set return after printing

{'blue', 'green', 'red', 'yellow'}

In [40]:
one_set = {'blue','green','yellow','red'}
two_set = {'green','blue','white','black'}
one_set.symmetric_difference_update(two_set)
one_set   # orginal set return after printing

{'black', 'red', 'white', 'yellow'}

In [38]:
#.union() returns all value that are present inboth set , if it encounter a duplicate object ,only one of it will be pretend 
one_set.union(two_set) # or one_set|two_set

{'black', 'blue', 'green', 'red', 'white', 'yellow'}

In [39]:
# .intersection() it will return the same element  in the same set 
#intersection  doesn't update the origninal set;one_set.intersection(two_set)
#  when u print out the value in intersection it retun value
one_set = {'blue','green','yellow','red'}
two_set = {'green','blue','white','black'}
one_set.intersection(two_set) #one_set & two_set = 'blue' , 'green'

{'blue', 'green'}

In [12]:
one_set      # orginal set return after printing

{'blue', 'green', 'red', 'yellow'}

In [27]:
#intersection_update will update the original set ;two_set.intersection_update(one_set)
# when u print out the value in intersection_update it doesn't retun value

one_set = {'blue','green','yellow','red'}
two_set = {'green','blue','white','black'}
two_set.intersection_update(one_set) # = it doesn't return value
two_set # original set doesn't retun after printing

{'blue', 'green'}

In [42]:
# issubset This method will return true if a set is a subset of another set otherwise, it will return false.
# issuperset This method determines whether the set is a superset of another set.
#isdisjoint it means whether two set are disjoint, it check what is not common 
soccer_player = {'messi','kante','halland','neymar'}
soccer_player2 = {'halland','kante'}
soccer_player.issubset(soccer_player2)

False

In [43]:
soccer_player2.issubset(soccer_player)

True

In [44]:
soccer_player.issuperset(soccer_player2)

True

In [46]:
soccer_player2.issuperset(soccer_player)

False

In [47]:
#it returns true or false; if they don't have anythin in common it returns true , if disjoint it returns true
num = {1,3,2,4,2,1,}
num2 = {2,5,6,7}
num3 = {3,8,9,}
num3.isdisjoint(num2)

True

In [48]:
num2.isdisjoint(num) .

False

In [66]:
simple_set = {'yellow','orange','black'}
simple_list = ['blue','green','red']
simple_set.update(simple_list)
simple_set

{'black', 'blue', 'green', 'orange', 'red', 'yellow'}

# Set Exercise

In [70]:
#return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

In [71]:
# Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1|set2

{10, 20, 30, 40, 50, 60, 70}

In [73]:
#Update the first set with items that don’t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference(set2)

{10, 30}

In [12]:
# Write a Python program to remove items 10, 20, 30 from the following set at once.
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
set1

{40, 50}

In [13]:
set1 = {10, 20, 30, 40, 50}
set1.update({60,70,90})
set1

{10, 20, 30, 40, 50, 60, 70, 90}

In [4]:
 # Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference(set2)

{10, 20, 60, 70}

In [14]:
#Check if two sets have any elements in common. If yes, display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
set1.intersection(set2)

{10}

In [22]:
#  Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
set1

{10, 20, 60, 70}

In [3]:
# Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
set1

{30, 40, 50}

# Dictionary

In [9]:
# dictionary are ordered collection of items. it element are store in key and values pair
# dictionary keys are unique identifiers that are associated to its values
#dictionary can be stored in any data type . unless it keys can not be stored in list
# dict are mutable 

#dictionary are denoted by curly braces {}
#storing information abouta location and student info
location = {'Nigeria':'Africa','China':'Asia','Spain':'Europe'}
print(location)

# using in function 
print('China' in location)

#dictionary are denoted by dict()
student_info = dict([('jojo',12),('michael',10),('zoe',15),('michelle',17)])# it not really common in creating a dict
student_info

{'Nigeria': 'Africa', 'China': 'Asia', 'Spain': 'Europe'}
True

{'jojo': 12, 'michael': 10, 'zoe': 15, 'michelle': 17}

In [4]:
# accesing list 

print(location['Nigeria'])
student_info.get('michelle') # to avoid error use get.

Africa

17

In [1]:
# dictionary method
# keys ; returns all keys in dict as tuples

student_score_mark = {'ash': '100%','bright':'55%','max':'78%','stan':'20%'}
student_score_mark.keys()

dict_keys(['ash', 'bright', 'max', 'stan'])

In [35]:
#values return all values in dict as tuples
student_score_mark.values()

dict_values(['55%', '55%', '78%', '20%'])

In [36]:
#items return all items|element in the dict, it return as a tuple just like keys-values
student_score_mark.items()

dict_items([('ash', '55%'), ('bright', '55%'), ('max', '78%'), ('stan', '20%')])

In [46]:
# Adding items to dictionary and modifying
Artist = {'asake':'loaded','seyi vibez':'ku fa ya kun','wizkid':'balance', 'tobi': None}
Artist['tobi']= '1 track'
Artist

{'asake': 'loaded',
 'seyi vibez': 'ku fa ya kun',
 'wizkid': 'balance',
 'tobi': '1 track'}

In [48]:
Artist.update({'nates':'love more','bella shumrda':'vision 2020'})
Artist

{'asake': 'loaded',
 'seyi vibez': 'ku fa ya kun',
 'wizkid': 'balance',
 'tobi': '1 track',
 'nates': 'love more',
 'bella shumrda': 'vision 2020'}

In [49]:
Artist['Adele'] = 'somethings'
Artist

{'asake': 'loaded',
 'seyi vibez': 'ku fa ya kun',
 'wizkid': 'balance',
 'tobi': '1 track',
 'nates': 'love more',
 'bella shumrda': 'vision 2020',
 'Adele': 'somethings'}

In [26]:
# removing 
# popitem()
# pop()
# clear()


world_cup_2022 = {'name': 'messi',
                 'country':'argentina',
                 'jersey num': 10,
                 'goal_scored':6,
                 'assisted goals':False,
                 'strong foot':'left',
                  'captain':True
                  
}
print(world_cup_2022.popitem()) # it removes the last item
print(world_cup_2022.pop('country')) # it removes the key in the parameter
world_cup_2022.clear()
world_cup_2022

('captain', True)
argentina

{}