In [1]:
# Above the print(7 + 10), add the comment
# Addition
7 + 10

17

In [ ]:
#Python is a pretty versatile language. For which applications can you use Python?
All of the above.

In [2]:
# Suppose you have $100, which you can invest with a 10% return each year. After one year 100 *1.1 = 110, it's 
#  dollars, and after two years it's 100 *1.1*1.1=121
# . Add code to calculate how much money you end up with after 7 years, and print the result.
# # How much is your $100 worth after 7 years?
100*1.1**7

194.87171000000012

In [3]:
# Create a variable savings with the value 100.
# Check out this variable by typing print(savings) in the script.
savings = 100
savings

100

In [4]:
# Create a variable growth_multiplier, equal to 1.1.
# Create a variable, result, equal to the amount of money you saved after 7 years.
# Print out the value of result.
growth_multiplier =1.1
result = 194.87171000000012
result

194.87171000000012

In [ ]:
# Create a new string, desc, with the value "compound interest".
# Create a new boolean, profitable, with the value True.
desc = "compound interest"
profitable = True

In [5]:
# Calculate the product of savings and growth_multiplier. Store the result in year1.
# What do you think the resulting type will be? Find out by printing out the type of year1.
# Calculate the sum of desc and desc and store the result in a new variable doubledesc.
# Print out doubledesc. Did you expect this?
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# Assign product of savings and growth_multiplier to year1
year1 = savings * growth_multiplier


# Print the type of year1
print(type(year1))

# Assign sum of desc and desc to doubledesc
doubledesc = "compound interest " + "compound interest"

# Print out doubledesc
doubledesc

<class 'float'>

'compound interest compound interest'

In [18]:
# Hit Run Code to run the code. Try to understand the error message.
# Fix the code such that the printout runs without errors; use the function str() to convert the variables to strings.
# Convert the variable pi_string to a float and store this float as a new variable, pi_float.
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float = float("3.1415926")

I started with $100 and now have $194.87171000000012. Awesome!

In [27]:
username = input('what is your username')
print('hello '+ username )

what is your usernameTobi
hello Tobi

In [36]:
age = int(input('what year were you born'))
birth_year = 2023 - age
print('your age is:',birth_year)

what year were you born2003
your age is: 20

In [41]:
num = int(input())
num2 = 10
num_all = num/num2
print('ratio is:', num_all)

20
ratio is: 2.0

In [49]:
num1 = 2
num2 = 10
num3 = 22
num4 -37
num5 = 11
sum_num = num1+num2+num3+num4+num5
print(sum_num)
average = sum_num/5
print(average)

60
12.0

In [3]:
input1 = 23
input2 =20
temp_input = input1
input1 = input2
print(temp_input,input2)

23 20

In [47]:
var = 'jojo'
vara = "class"
string_quote ='\"lord\"'
print(string_quote)
triple_string = '''you\'re welcome,the day is \"sunny\"
'''
print(triple_string)

"lord"
you're welcome,the day is "sunny"

In [51]:
t = "a"
s1 = 'abcd'
s2 = 'efgh'
s3 = s1 + s2
print(s3)

abcdefgh

In [ ]:
#data types
(1) define each data 
 integer are whole numbers without decimal point  e.g = 34,7,54,9,3
 float are numbers with decimal point e.g 5.7,0.2,1.1
string are sequence of elements , it is represented by single quote or double quote e.g 'hello',"welcome"
(2) 3 = integer
    6.0 = float
    '3.14159'= string
    4.5 = float
    'hello' = string
     math.pi = error

In [12]:
print(type(3+7))
print(type(5+6.0)) 
print(type(6/3.0))
print(type(6.0 //3.0))
print(type('py'+'thon'))
type('high '+ str(5))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>

str

In [ ]:
# variables
# Acceptable v 
_count
AGE
num
FiRsTnAmE = variables are case sensitive
card_2
# unacceptable v 
card 2 =  u can't be seperated with a space instead u use underscore to seperare 
2nd_card = variables doesn't start with a number
lambda = u can't name a variable with a function name

In [14]:
#rename the values with a suitable variable name
number_of_cards = "the number of cards dealt to a player"
monthly_salary = "An employee's monthly salary"
sum_of_value = " the sum of the value rolled by two dice."
temperature = "the temprature on a hot summer day."

In [16]:
k= 7
k += 3
k *= 2
k -= 5
k //= 6
k

2

In [ ]:
number = 8
Number += 1 
python is case sensitive number != Number

In [19]:
v = 'hello,world'
v.strip()

'hello,world'